<footer class="page__footer">
  <nav class="menu_footer" role="navigation">
    <ul class="menu_footer_list">
      <li class="footer_list_1 footer_li">La editorial</li>
      <li class="footer_list_2 footer_li">Colecciones</li>
      <li class="footer_list_3 footer_li">Autores</li>
      <li class="footer_list_4 footer_li">Libros</li>
      <li class="footer_list_5 footer_li">Blog</li>
      <li class="footer_list_6 footer_li">Contacto</li>
    </ul>
  </nav>
  <div class="social_container">
    <ul class="social_list">
      <li class="twitter">
        <a href=""></a>
      </li>
      <li class="facebook">
        <a href=""></a>
      </li>
    </ul>
  </div>
  <small class="copyright">2020 Señor Lobo Ediciones</small>
</footer>
