<main class="page__main">
  <section class="articles_section">
    <article class="article_one">
      <img class="image_book" src="./assets/images/book1_landing.jpg" alt="" />
      <h2 class="title_book">Las identidades de Ogilvy y otros relatos</h2>
      <h3 class="title_author">Radclyffe Hall</h3>
      <p class="book_description">
        Cinco relatos que tienen como nexo común unos personajes perturbados por
        las circunstancias que les ha tocado vivir. En cada extraña historia de
        este libro, Radclyffe Hall ahonda en la soledad innata de cada ser
        humano, en la incomprensión y el aislamiento que sufren las personas que
        se apartan de lo “normal”.
      </p>
    </article>
    <article class="article_two">
      <img class="image_book" src="./assets/images/book2_landing.jpg" alt="" />
      <h2 class="title_book">Arenas movedizas</h2>
      <h3 class="title_author">Nella Larsen</h3>
      <p class="book_description">
        Nella Larsen consigue estremecer al lector con su magistral narración
        sobre la soledad, la desesperación y los esfuerzos del ser humano por
        mantener la dignidad cuando todo está en contra. Arenas movedizas es el
        relato de la crueldad que los grupos sociales pueden llegar a ejercer
        sobre las personas que no pertenecen a ninguno de ellos de forma
        definida.
      </p>
    </article>
  </section>
  <section class="authors_section">
    <div class="authors_container">
      <h2 class="authors_title">Conoce a nuestros autores</h2>
    </div>
  </section>
  <aside class="spotify_container">
    <img class="musician" src="./assets/images/musician.gif" alt="" />
    <iframe
      class="spotify"
      src="https://open.spotify.com/embed/playlist/1mgZt1PfsSVKYgPhbtIRDD"
      width="160"
      height="80px"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </aside>
</main>
