.page__footer {
  margin: 35px 0 20px 0;
}

.footer_li {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 300;
}
.copyright {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 100;
}
