.menu_container {
  margin: 21px 0px 0px 19px;
}
.menu_image {
  width: 41px;
}
.main_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_container {
  margin-top: -40px;
}
.logo_header {
  width: 84px;
}
.main_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.main_title {
  color: $color-brand01;
  font-family: $font-main;
  font-size: 20px;
  letter-spacing: 1px;
}
.decoration_container {
  margin-top: 18px;
}
.decoration_header {
  width: 223px;
}
