.articles_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
}
.article_two {
  margin-top: 30px;
}

.title_book {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 19px;
}
.title_author {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 17px;
  font-style: italic;
  margin-top: 6px;
}
.book_description {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 17px;
  font-weight: 300px;
  margin-top: 4px;
}
.authors_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.authors_container {
  background-image: url("../images/authors_background.jpg");
  width: 225px;
  height: 140px;
  border: 0.2px solid $color-brand01;
}
.authors_title {
  color: $color-brand01;
  font-family: $font-secondary;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  width: 162px;
  margin: 40px 0 0 35px;
}
